img.Img {
    width:240px; height:180px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.slider {
    position: relative;
    padding: 0px 40px;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    border: 0px;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('img/sl-arrow_l.png') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('img/sl-arrow_r.png') 0 0 / 100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 12px;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid black;
}

.slider .slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 0px;
    background-color: black;
    border-radius: 50%;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}
